<!-- GOOGLE ADD SECTION START -->
    <div id="add-div-main">
        <link href="http://designbootstrap.com/track/add-style.css" rel="stylesheet" />
        <div class="add-wrapper-db">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="add-block">
                            <a href="http://www.designbootstrap.com/" title="DesignBootstrap.com Free Bootstrap Templates & Snippets" 

target="_target">
                                <img src="http://www.designbootstrap.com/track/logo.png" title="DesignBootstrap.com Free Bootstrap 

Templates & Snippets" alt="Free Templates From DesignBootstrap.Com">
       .                     </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center">
                        <div class="add-block" id="ftr-large-add"  >
<center> 
<script async data-rocketsrc="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="text/rocketscript"></script>
<!-- db-footer-one-728-90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2936243881134126"
     data-ad-slot="5253257896"></ins>
<script type="text/rocketscript">
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- GOOGLE ADD SECTION END -->


    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <script data-rocketsrc="assets/js/jquery-1.11.1.js" type="text/rocketscript"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script data-rocketsrc="assets/js/bootstrap.js" type="text/rocketscript"></script>

<script data-rocketsrc="http://www.designbootstrap.com/track/ga.js"  type="text/rocketscript"></script>


