<div class="container">

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
      <!-- TWEET WRAPPER START -->
      <div class="twt-wrapper">
        <div class="panel panel-default">
          <div class="panel-heading">画像編集</div>
          <div class="panel-body">
            <%= render 'form' %>
            <%= link_to 'Show', @picture %> |
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- TWEET WRAPPER END -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= link_to '戻る', pictures_path %></h2>
      <br />
    </div>
  </div>

</div>
