<div class="container">

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <!-- TWEET WRAPPER START -->
      <div class="twt-wrapper">
        <div class="">
          <div class="panel-heading">
            画像詳細
          </div>
          <div class="panel-body">
            <ul class="media-list">
              <p>
              <strong>Title:</strong>
              <%= @picture.title %>
              </p>

              <p>
              <strong>Image:</strong>
              <% if @picture.image_url? %>
                <div class="thumbnail">
                  <%= image_tag @picture.image_url %>
                </div>
              <% end %>
              </p> 
            </ul>
            <%= link_to '編集', edit_picture_path(@picture) %> |
            <%= link_to '戻る', pictures_path %>
          </div>
        </div>
      </div>
      <!-- TWEET WRAPPER END -->
    </div>
  </div>





</div>


