// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*=======================================
TWEET FEED STYLES
==================================================*/
.twt-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}
.twt-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.media-list .timeline-header {
  height: 64px;
  padding: 14px 20px;
}

.media-list .timeline-header img {
    width:30px;
    height:30px;
    border:2px solid #e5e7e8;
}

.media-list .timeline-picture img {
  height: 100px;
  width: 100px;
}
